[Unit]
Description=Atomic Fishbowl Server
Documentation=https://knowledgekta.com
After=network-online.target remote-fs.target nss-lookup.target docker.service afb-mongo.service
Wants=network-online.target
Requires=docker.service

[Service]
ExecStartPre=-/usr/bin/docker stop afb-server
ExecStart=/usr/bin/docker start -a afb-server
ExecReload=/usr/bin/docker kill -s HUP afb-server
ExecStop=/usr/bin/docker stop afb-server

[Install]
WantedBy=multi-user.target
