[Unit]
Description=221B Server
Documentation=https://knowledgekta.com
After=network-online.target remote-fs.target nss-lookup.target docker.service 221b-mongo.service
Wants=network-online.target
Requires=docker.service

[Service]
ExecStartPre=-/usr/bin/docker stop 221b-server
ExecStart=/usr/bin/docker start -a 221b-server
ExecReload=/usr/bin/docker kill -s HUP 221b-server
ExecStop=/usr/bin/docker stop 221b-server

[Install]
WantedBy=multi-user.target
